
.hero-area .hero{
    background-image: url("./assets/Images/slide1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    padding: 0 !important;
    
}
.hero-area .hero:nth-child(2){
    background-image: url("./assets/Images/slide2.jpeg");    
}
.hero-area .hero:nth-child(3){
    background-image: url("./assets/Images/nutrition-vegetables-kitchenware.jpg");    
}

.hero-area .card{
 width: 100%;
 height: 80vh;
 display: flex;
 align-items: center;
 justify-content: center;
 margin: 0 auto;
 text-align: center;
 color: white;
 background: rgba(0,0, 0, .26);
 backdrop-filter: blur(7px);
}

.hero-area .card-body span{
  width: 55%;
  margin: 0 auto;
  display: block;
  line-height: 50px;
}
button{
  padding: 5px;
  background-color: rgb(0, 166, 204);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  color: white;
  font-weight: 500;
}

.Product-area{
  padding: 50px 30px;
}
.Product-area .product-card{
  margin: 15px 10px;
}



.auth-area form{
  margin: 25px auto;
}
.auth-area form input{
  padding: 5px;
  outline: none;
  margin-bottom: 10px ;
  box-shadow: 0px 0px 3px rgb(94,101,121);
}
.auth-area label{
  margin: 5px 0;
}
 input[type=submit]{
  background-color: rgb(2, 187, 215);
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.auth-area button{
  width: 50%;
  padding: 8px;
}